In [5]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [6]:
import sqlite3, csv
import numpy as np
from scipy import stats

In [7]:
conn = sqlite3.connect('sql_fang.db')
c = conn.cursor()

# Create table
c.execute("DROP TABLE IF EXISTS action_f;")
c.execute('''CREATE TABLE action_f
             (STARTDATE Datetime, ENDDATE Datetime, ACTIONCODE nchar(10), ACTIONDESC nvarchar(150))''')

with open('Action.txt', 'rt') as f:
    dr = csv.DictReader(f)
    to_db = [(i['STARTDATE'],i['ENDDATE'],i['ACTIONCODE'], i['ACTIONDESC']) for i in dr]
    print to_db[0]
    
conn.executemany("INSERT INTO action_f (STARTDATE, ENDDATE, ACTIONCODE, ACTIONDESC) VALUES (?, ?, ?, ?);", to_db)
resoverall = c.execute("SELECT * FROM action_f;")


#print(c.fetchall())
from pandas import DataFrame
df = DataFrame(resoverall.fetchall())


# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

('1901-01-01 00:00:00', '2002-12-31 00:00:00', '8         ', 'Establishment re-closed by DOHMH')

In [135]:
conn = sqlite3.connect('sql_fang.db')
conn.text_factory = str
c = conn.cursor()


# Create table
c.execute("DROP TABLE IF EXISTS cuisine_f;")
c.execute('''CREATE TABLE cuisine_f(CUISINECODE Nchar(10), CODEDESC Varchar(200))''')

with open('Cuisine.txt', 'rt') as f:
    dr = csv.DictReader(f)
    to_db = [(i['CUISINECODE'],i['CODEDESC']) for i in dr]
    print to_db[35]
    
conn.executemany("INSERT INTO Cuisine_f (CUISINECODE, CODEDESC) VALUES (?, ?);", to_db)
resoverall = c.execute("SELECT * FROM cuisine_f;")
#print(c.fetchall())
from pandas import DataFrame
df = DataFrame(resoverall.fetchall())


# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

('14', 'Caf\xe9/Coffee/Tea')

In [10]:
conn = sqlite3.connect('sql_fang.db')
conn.text_factory = str
c = conn.cursor()
# Create table
c.execute("DROP TABLE IF EXISTS Violation_f;")
c.execute('''CREATE TABLE Violation_f(STARTDATE Datetime, ENDDATE Datetime, VIOLATIONCODE nchar(3), VIOLATIONDESC nvarchar(600), CRITICALFLAG nchar(1))''')

with open('Violation.txt', 'rt') as f:
    dr = csv.DictReader(f)
    to_db = [(i['STARTDATE'],i['ENDDATE'], i['VIOLATIONCODE'], i['VIOLATIONDESC'], i['CRITICALFLAG']) for i in dr]
    print to_db[35]
    
conn.executemany("INSERT INTO Violation_f (STARTDATE, ENDDATE, VIOLATIONCODE, VIOLATIONDESC, CRITICALFLAG) VALUES (?, ?, ?, ?, ?);", to_db)
resoverall = c.execute("SELECT * FROM Violation_f;")
#print(c.fetchall())
from pandas import DataFrame
df = DataFrame(resoverall.fetchall())


# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

('2005-02-18 00:00:00', '2007-06-30 00:00:00', '02A', 'Food not cooked to required minimum temperature.', 'Y')

In [11]:
conn = sqlite3.connect('sql_fang.db')
conn.text_factory = str
c = conn.cursor()
# Create table
c.execute("DROP TABLE IF EXISTS WebExtract_f;")
c.execute('''CREATE TABLE WebExtract_f( CAMIS Varchar(10),
                                        DBA varchar(255),
                                        BORO Varchar(1),
                                        BUILDING Varchar(10),
                                        STREET Varchar(100),
                                        ZIPCODE Varchar(5),
                                        PHONE Varchar(20),
                                        CUISINECODE Varchar(2),
                                        INSPDATE Datetime,
                                        ACTION Varchar(1),
                                        VIOLCODE Varchar(3),
                                        SCORE Varchar(3),
                                        CURRENTGRADE Varchar(1),
                                        GRADEDATE Datetime,
                                        RECORDDATE Datetime)''')

with open('WebExtract.txt', 'rt') as f:
    dr = csv.DictReader(f)
    to_db = [(i['CAMIS'],
              i['DBA'], 
              i['BORO'], 
              i['BUILDING'], 
              i['STREET'],
              i['ZIPCODE'], 
              i['PHONE'], 
              i['CUISINECODE'], 
              i['INSPDATE'], 
              i['ACTION'], 
              i['VIOLCODE'],
              i['SCORE'],
              i['CURRENTGRADE'],
              i['GRADEDATE'],
              i['RECORDDATE']) for i in dr]
    print to_db[0:10]

[('30075445', 'MORRIS PARK BAKE SHOP', '2', '1007      ', 'MORRIS PARK AVE                                   ', '10462', '7188924968', '08', '2014-03-03 00:00:00', 'D', '10F', '2', 'A', '2014-03-03 00:00:00', '2014-09-04 06:01:28.403000000'), ('30112340', "WENDY'S", '3', '469', 'FLATBUSH AVENUE', '11225', '7182875005', '39', '2014-07-01 00:00:00', 'F', '06A', '23', 'B', '2014-07-01 00:00:00', '2014-09-04 06:01:28.403000000'), ('30191841', 'DJ REYNOLDS PUB AND RESTAURANT', '1', '351', 'WEST 57 STREET', '10019', '2122452912', '03', '2013-07-22 00:00:00', 'D', '10B', '11', 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000'), ('40356483', "WILKEN'S FINE FOOD", '3', '7114      ', 'AVENUE U                        ', '11234', '7184443838', '27', '2014-05-29 00:00:00', 'D', '08C', '10', 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000'), ('30191841', 'DJ REYNOLDS PUB AND RESTAURANT', '1', '351', 'WEST 57 STREET', '10019', '2122452912', '03', '2013-07-22 00:00:00', 'D', '02G', '11', 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000'), ('30191841', 'DJ REYNOLDS PUB AND RESTAURANT', '1', '351', 'WEST 57 STREET', '10019', '2122452912', '03', '2013-07-22 00:00:00', 'D', '10F', '11', 'A', '2013-07-22 00:00:00', '2014-09-04 06:01:28.403000000'), ('40356018', 'RIVIERA CATERER', '3', '2780', 'STILLWELL AVENUE', '11224', '7183723031', '03', '2014-06-10 00:00:00', 'D', '10F', '5', 'A', '2014-06-10 00:00:00', '2014-09-04 06:01:28.403000000'), ('40356068', 'TOV KOSHER KITCHEN', '4', '97-22', '63 ROAD', '11374', '7188967788', '50', '2013-01-17 00:00:00', 'D', '06D', '13', 'Z', '2013-01-17 00:00:00', '2014-09-04 06:01:28.403000000'), ('40356483', "WILKEN'S FINE FOOD", '3', '7114      ', 'AVENUE U                        ', '11234', '7184443838', '27', '2014-05-29 00:00:00', 'D', '04M', '10', 'A', '2014-05-29 00:00:00', '2014-09-04 06:01:28.403000000'), ('40356731', 'TASTE THE TROPICS ICE CREAM', '3', '1839      ', 'NOSTRAND AVENUE                                                                                     ', '11226', '7188560821', '43', '2014-07-14 00:00:00', 'D', '10F', '12', 'A', '2014-07-14 00:00:00', '2014-09-04 06:01:28.403000000')]

In [12]:
len(to_db)

531935

In [13]:
conn.executemany('''INSERT INTO WebExtract_f (CAMIS,
                                        DBA,
                                        BORO,
                                        BUILDING,
                                        STREET,
                                        ZIPCODE,
                                        PHONE,
                                        CUISINECODE,
                                        INSPDATE,
                                        ACTION,
                                        VIOLCODE,
                                        SCORE,
                                        CURRENTGRADE,
                                        GRADEDATE,
                                        RECORDDATE) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''', to_db)
resoverall = c.execute("SELECT * FROM WebExtract_f;")

In [14]:
c.execute('''SELECT CURRENTGRADE FROM WebExtract_f
                    WHERE CURRENTGRADE not in ('A', 'B', 'C', 'D')
                    ;''')
a = c.fetchall()
#print a

In [15]:

conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [ ]:
Sopt here!!!!!!!!!!!!!!!!!!

In [142]:
con = sqlite3.connect('sql_fang.db')
con.text_factory = str
cursor = con.cursor()
cursor.execute('''UPDATE WebExtract_f
                    SET CURRENTGRADE=0
                    WHERE CURRENTGRADE not in ('A', 'B', 'C', 'D')
                    ;''')
cursor.execute('''UPDATE WebExtract_f
                    SET CURRENTGRADE=1
                    WHERE CURRENTGRADE='A'
                    ;''')
cursor.execute('''UPDATE WebExtract_f
                    SET CURRENTGRADE=2
                    WHERE CURRENTGRADE='B'
                    ;''')
cursor.execute('''UPDATE WebExtract_f
                    SET CURRENTGRADE=3
                    WHERE CURRENTGRADE='C'
                    ;''')
cursor.execute('''UPDATE WebExtract_f
                    SET CURRENTGRADE=4
                    WHERE CURRENTGRADE='D'
                    ;''')

cursor.execute("SELECT * FROM WebExtract_f;")

In [143]:

cursor.execute('''SELECT CURRENTGRADE FROM WebExtract_f
                ;''')
a = cursor.fetchall()
#print a

In [144]:
cursor.execute('''CREATE TABLE suppliers
AS (SELECT zipcode
    FROM WebExtract_f
);''')
#cursor.execute("SELECT * FROM WebExtract_f;")
a = cursor.fetchall()
print a

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 2))

OperationalError: near "(": syntax error

In [145]:
len(a)

531935

In [16]:

class ScipySEMAggregate(object):
    def __init__(self):
        self.values = []
    def step(self, value):
        self.values.append(int(value))
    def finalize(self):
        return stats.sem(self.values)
con.create_aggregate("sp_sem", 1, ScipySEMAggregate)
#cursor.execute('''SELECT CURRENTGRADE FROM WebExtract_f
#                    WHERE CURRENTGRADE>0;''')
#a = cursor.fetchall()
#print a

cursor.execute('''SELECT ZIPCODE, AVG(SCORE) AS MEANGRADE, 
                    sp_sem(SCORE) AS SEGRADE, COUNT(*) AS NUM_INSP FROM WebExtract_f
                    WHERE SCORE>0 AND zipcode <> 'N/A' AND cast(zipcode as int) >0 
                    GROUP BY ZIPCODE
                    ORDER BY MEANGRADE
                    ;''')
#cursor.execute("SELECT * FROM WebExtract_f;")
a = cursor.fetchall()
print a

NameError: name 'con' is not defined

In [175]:
type(a)
len(a)

207

In [176]:
import pandas as pd
df = pd.DataFrame(a,columns=['a', 'b', 'c', 'd'])
df[df.d >= 50]
subset = df[['a', 'b', 'c', 'd']]
tuples = [tuple(x) for x in subset.values]

In [177]:
tuples

[('11451', 9.090909090909092, 1.3912358499128192, 11),
 ('10168', 9.875, 1.3016130102958514, 8),
 ('11753', 11.583333333333334, 0.7012794944192575, 12),
 ('10153', 12.9, 2.4855212917925336, 30),
 ('10106', 14.181818181818182, 1.9212148524431945, 22),
 ('10171', 14.318181818181818, 2.708321602614379, 22),
 ('11010', 15.625, 2.187117313464722, 8),
 ('10112', 15.68108108108108, 0.6876915134127874, 185),
 ('10311', 16.0, 2.090796157311509, 15),
 ('07005', 16.166666666666668, 1.3807844352271852, 12),
 ('10121', 16.32323232323232, 0.9881620780426703, 99),
 ('10317', 17.272727272727273, 2.5409050252040974, 11),
 ('11433', 18.134680134680135, 0.3932303753780279, 594),
 ('10307', 18.196029776674937, 0.5820116308201684, 403),
 ('10174', 18.352941176470587, 2.1350388763346224, 17),
 ('10020', 18.367559523809526, 0.4695414900075612, 672),
 ('10282', 18.722543352601157, 1.4018821734393057, 173),
 ('11109', 19.014084507042252, 1.0842744530958985, 71),
 ('10306', 19.047169811320753, 0.2827385635160963, 1802),
 ('11234', 19.068172650262202, 0.2558690752382414, 2479),
 ('10039', 19.297912713472485, 0.49070636323088146, 527),
 ('10044', 19.307692307692307, 1.105569256761539, 130),
 ('10057', 19.333333333333332, 2.464727008626542, 24),
 ('11224', 19.367456896551722, 0.46575290909046707, 928),
 ('11692', 19.396946564885496, 0.9828643048993737, 131),
 ('11357', 19.585987261146496, 0.31294338289891727, 1256),
 ('10471', 19.78266850068776, 0.48098594373985337, 727),
 ('11379', 19.797948717948717, 0.3475863869922104, 975),
 ('11429', 20.003875968992247, 0.5484640329084738, 516),
 ('11430', 20.081552305961754, 0.3181528860934683, 1778),
 ('11361', 20.083333333333332, 0.2908085749365345, 2076),
 ('11228', 20.107883817427386, 0.3915154707965454, 964),
 ('10474', 20.188920454545453, 0.5224454794736223, 704),
 ('10302', 20.194542253521128, 0.3489540720611476, 1136),
 ('11365', 20.267952840300108, 0.39767894077124205, 933),
 ('11360', 20.304854368932038, 0.5208114089407162, 515),
 ('10460', 20.352226720647774, 0.4616916189946469, 988),
 ('10004', 20.533050847457627, 0.2836259980362163, 2360),
 ('11249', 20.539521392313272, 0.22612251746821402, 2758),
 ('11356', 20.56511891279728, 0.475873547209379, 883),
 ('10301', 20.606006006006005, 0.3054754732582255, 1665),
 ('10065', 20.63466368964555, 0.20255732556010336, 3583),
 ('11427', 20.649595687331537, 0.8616398944090047, 371),
 ('11207', 20.70208500400962, 0.24898831740689933, 2494),
 ('11426', 20.72344013490725, 0.6031594671020158, 593),
 ('11005', 20.75, 1.3059241375774262, 60),
 ('11209', 20.76287400773458, 0.20077756850579861, 4913),
 ('11375', 20.825, 0.19461590044006027, 4040),
 ('10472', 20.867981790591806, 0.31423149615154533, 1977),
 ('11217', 20.86910765183074, 0.20446644699346853, 4561),
 ('10309', 20.884116693679093, 0.35427965858721167, 1234),
 ('11369', 20.95501519756839, 0.3471550024366747, 1645),
 ('10459', 20.979074191502853, 0.34759060372634765, 1577),
 ('10457', 21.01647220315717, 0.37795923773993345, 1457),
 ('11212', 21.018560179977502, 0.32853419531118205, 1778),
 ('10312', 21.022258862324815, 0.3790912695203052, 1213),
 ('11412', 21.027932960893853, 0.50339597864052, 716),
 ('10107', 21.076923076923077, 2.9241293651920905, 26),
 ('11378', 21.108265424912688, 0.3052156420281669, 1718),
 ('10462', 21.14251781472684, 0.2824827308957238, 2947),
 ('11417', 21.14611872146119, 0.3895319792193288, 1314),
 ('11374', 21.188911704312115, 0.3116712823521999, 1948),
 ('10314', 21.198608475648324, 0.23494610996501203, 3162),
 ('11211', 21.202012616401323, 0.17191814028648472, 6658),
 ('10461', 21.213553113553115, 0.2951213360096032, 2730),
 ('10305', 21.216828478964402, 0.42666518363228084, 1545),
 ('10467', 21.230246113989637, 0.2635456874644785, 3088),
 ('10012', 21.249878108239884, 0.14317295933621357, 8204),
 ('10281', 21.305732484076433, 1.4421917019394752, 157),
 ('11225', 21.333000997008973, 0.3046207918580428, 2006),
 ('11364', 21.35169880624426, 0.45377264532749395, 1089),
 ('10463', 21.381049206994714, 0.28472354720028653, 2459),
 ('10454', 21.391841779975277, 0.3485456887737299, 1618),
 ('10465', 21.405124653739612, 0.3639150465864931, 1444),
 ('10001', 21.409717272511287, 0.1617110905241322, 8418),
 ('10035', 21.422031473533618, 0.3729692697629188, 1398),
 ('11237', 21.433520599250937, 0.23439447987821344, 3204),
 ('11231', 21.466359773371106, 0.27267272381838575, 2824),
 ('11421', 21.48721399730821, 0.33300775123136667, 1486),
 ('11371', 21.513513513513512, 0.8788857529376592, 222),
 ('11215', 21.533080260303688, 0.16503644887499364, 7376),
 ('10011', 21.546745953088866, 0.14260493308204303, 9081),
 ('11363', 21.54920634920635, 0.7151889053760118, 315),
 ('10028', 21.554082840236685, 0.20978157534655953, 4225),
 ('10005', 21.557868442964196, 0.4377755094946544, 1201),
 ('10019', 21.58739537173806, 0.12923443052271993, 12186),
 ('10470', 21.620421753607104, 0.5236545270328519, 901),
 ('10030', 21.63573883161512, 0.6456123849758707, 582),
 ('11233', 21.63819095477387, 0.5214756911863725, 995),
 ('11103', 21.658061250316376, 0.2389188871498197, 3951),
 ('10007', 21.669019607843136, 0.2860432306180063, 2550),
 ('11435', 21.674979558462795, 0.2777966155271194, 2446),
 ('10014', 21.67580757610969, 0.1484640902659532, 8606),
 ('10475', 21.704109589041096, 0.5565222228771505, 730),
 ('11206', 21.740710494079217, 0.29720211153825904, 2449),
 ('10469', 21.76394366197183, 0.3455804558533294, 1775),
 ('11105', 21.766025641025642, 0.28197609983363703, 2496),
 ('10466', 21.794476898566117, 0.32161307290525765, 1883),
 ('11210', 21.80231809401159, 0.38615142190853347, 1553),
 ('10452', 21.816335948315643, 0.3139188021140333, 2167),
 ('11205', 21.838859416445622, 0.2581289626300649, 3016),
 ('11367', 21.860718171926006, 0.4679548214359429, 919),
 ('11238', 21.880522565320664, 0.22818162222301078, 4210),
 ('11101', 21.939521800281295, 0.2007028394011436, 4977),
 ('11203', 21.966954022988507, 0.27896133609096635, 2784),
 ('11366', 21.975103734439834, 0.506798744700214, 964),
 ('10038', 21.999344477220582, 0.26721175142419024, 3051),
 ('11358', 22.010488245931285, 0.27193864253061006, 2765),
 ('11201', 22.029892920880428, 0.1793282489087574, 6724),
 ('10075', 22.04517766497462, 0.3685050185186455, 1970),
 ('11223', 22.056006964596634, 0.27430014906828076, 3446),
 ('11385', 22.07644084934277, 0.2255631255767913, 4945),
 ('10022', 22.09910002045408, 0.15561287036531932, 9778),
 ('11377', 22.10658379373849, 0.21324478680982942, 4344),
 ('10023', 22.133956386292834, 0.2405484315132345, 3852),
 ('10009', 22.139445186174157, 0.17804075627679533, 6741),
 ('10037', 22.159021406727827, 0.5595499400358818, 654),
 ('10118', 22.166666666666668, 3.547639890444144, 24),
 ('10458', 22.175930922827845, 0.24091941550551504, 3706),
 ('11415', 22.178523489932886, 0.6159331972704064, 745),
 ('11102', 22.20931603773585, 0.375553937176089, 1696),
 ('11232', 22.22766990291262, 0.33951502117655247, 2060),
 ('10304', 22.234177215189874, 0.38959105731064625, 1106),
 ('10310', 22.237864077669904, 0.40639254357052224, 1030),
 ('10468', 22.248137802607076, 0.3819758349517949, 2148),
 ('10033', 22.24969199178645, 0.28210592389342176, 2435),
 ('11219', 22.292594275329396, 0.30772131254905327, 2201),
 ('11434', 22.32852193995381, 0.3651038249358016, 1732),
 ('10006', 22.35248041775457, 0.39714680256848944, 1149),
 ('10453', 22.353892821031344, 0.3284629334596525, 1978),
 ('10308', 22.360902255639097, 0.5155300843301663, 931),
 ('11229', 22.379490756888735, 0.2773101387188528, 2867),
 ('11414', 22.381491973559964, 0.45374925456823934, 1059),
 ('10024', 22.386326387262937, 0.22805452787441435, 4271),
 ('11222', 22.437080536912752, 0.24803381058992274, 3576),
 ('10040', 22.448751076658052, 0.49677835895485845, 1161),
 ('10119', 22.449494949494948, 0.6605491757024788, 396),
 ('11204', 22.45134493670886, 0.3027164006256493, 2528),
 ('10034', 22.451994091580502, 0.29461211798610304, 2031),
 ('11432', 22.455800371648525, 0.26412366844790436, 3767),
 ('11236', 22.475634517766498, 0.3664263886977011, 1970),
 ('10456', 22.489858012170384, 0.3404904952988154, 1972),
 ('11106', 22.490417844800504, 0.271472948629351, 3183),
 ('10017', 22.558591697320022, 0.16910104601211415, 7612),
 ('10036', 22.56358051777095, 0.14419348698471238, 11395),
 ('10003', 22.625793879907622, 0.1273276612041091, 13856),
 ('11221', 22.659128516271373, 0.41378184232103304, 1813),
 ('10451', 22.68147617341455, 0.3084700247377755, 2791),
 ('11420', 22.726795096322242, 0.3949121481855978, 1713),
 ('11418', 22.750454270139308, 0.3835078094073194, 1651),
 ('11104', 22.751537515375155, 0.2962413618184766, 2439),
 ('10021', 22.76628010704728, 0.26926905711449584, 3363),
 ('11422', 22.83886838868389, 0.519264964953697, 813),
 ('10031', 22.839257294429707, 0.33514671234013754, 1885),
 ('10010', 22.86993865030675, 0.228704021888899, 4890),
 ('11004', 22.870065789473685, 0.7117754514768311, 608),
 ('10016', 22.875857562887944, 0.153102721658316, 9183),
 ('10455', 22.882292204439857, 0.4053093981310079, 1937),
 ('10464', 22.91268758526603, 0.555989334335576, 733),
 ('11694', 22.925795053003533, 0.4633612564483602, 849),
 ('10027', 22.934662998624486, 0.29372748089082723, 2908),
 ('11423', 22.97629009762901, 0.6218233232095386, 717),
 ('11208', 23.00192455735181, 0.2919010735138034, 2598),
 ('11413', 23.009345794392523, 0.6637612388727971, 642),
 ('11239', 23.017857142857142, 1.229927900916062, 168),
 ('11213', 23.05879180151025, 0.37934445442171955, 1854),
 ('10018', 23.09214674691889, 0.1841965464075986, 6978),
 ('10128', 23.32988471770618, 0.2707000357338619, 3383),
 ('11242', 23.333333333333332, 1.768800432711456, 39),
 ('11416', 23.343392299687824, 0.5617681585785167, 961),
 ('11040', 23.34502923976608, 0.8077929342031946, 342),
 ('10303', 23.369093231162196, 0.5783371236026864, 783),
 ('11216', 23.37867312935474, 0.2726752976718386, 3301),
 ('11235', 23.43997543751919, 0.29641783887215134, 3257),
 ('10025', 23.50789577575997, 0.21463947676535916, 5066),
 ('10103', 23.594059405940595, 2.52442242067062, 101),
 ('11436', 23.730973451327433, 0.6366273498810647, 565),
 ('11368', 23.81224966622163, 0.20738608660988594, 5992),
 ('11214', 23.845297718419587, 0.2662139849359985, 3594),
 ('10032', 23.864362850971922, 0.35576974509133363, 2315),
 ('11693', 23.885032537960953, 0.7328693957864214, 461),
 ('10029', 23.88871096877502, 0.28061274728853347, 3747),
 ('11218', 23.897709444618762, 0.2848250413415701, 3187),
 ('10013', 24.006778169014083, 0.15063418359143046, 11360),
 ('11370', 24.09640522875817, 0.7277746622974322, 612),
 ('11230', 24.10535481062255, 0.3370263287325067, 2297),
 ('10280', 24.183574879227052, 1.293780007502683, 207),
 ('11419', 24.21421889616464, 0.37362339715663534, 2138),
 ('11372', 24.237448939254183, 0.19522490391340658, 7589),
 ('10002', 24.444479069284306, 0.1722035455389962, 9627),
 ('10026', 24.48225923244026, 0.4298072098154882, 1381),
 ('11226', 24.50735992402659, 0.26708813324458003, 4212),
 ('11373', 24.527923720568204, 0.2248896393345725, 5139),
 ('11691', 24.817324185248715, 0.4345993602833529, 1166),
 ('11355', 24.887049876985014, 0.23575422545416727, 4471),
 ('11428', 25.323117338003502, 0.47070993165848485, 1142),
 ('11362', 25.483527131782946, 0.5866180573698128, 1032),
 ('11220', 25.94860672975815, 0.19861595160492654, 7608),
 ('11411', 25.977358490566036, 0.7420435002075897, 530),
 ('10473', 26.074494949494948, 0.7213018873326537, 792),
 ('11354', 26.57061805890874, 0.2105127764575038, 8284),
 ('10069', 27.155555555555555, 2.039745368232965, 45),
 ('11001', 28.46551724137931, 2.086051900868332, 58),
 ('10111', 28.840579710144926, 2.2745884077620295, 69),
 ('11697', 31.011627906976745, 1.7031791458178156, 86),
 ('10270', 32.9375, 3.403608586675371, 32),
 ('10000', 34.666666666666664, 6.869293855094049, 24)]

In [178]:
df

         a          b         c      d
0    11451   9.090909  1.391236     11
1    10168   9.875000  1.301613      8
2    11753  11.583333  0.701279     12
3    10153  12.900000  2.485521     30
4    10106  14.181818  1.921215     22
5    10171  14.318182  2.708322     22
6    11010  15.625000  2.187117      8
7    10112  15.681081  0.687692    185
8    10311  16.000000  2.090796     15
9    07005  16.166667  1.380784     12
10   10121  16.323232  0.988162     99
11   10317  17.272727  2.540905     11
12   11433  18.134680  0.393230    594
13   10307  18.196030  0.582012    403
14   10174  18.352941  2.135039     17
15   10020  18.367560  0.469541    672
16   10282  18.722543  1.401882    173
17   11109  19.014085  1.084274     71
18   10306  19.047170  0.282739   1802
19   11234  19.068173  0.255869   2479
20   10039  19.297913  0.490706    527
21   10044  19.307692  1.105569    130
22   10057  19.333333  2.464727     24
23   11224  19.367457  0.465753    928
24   11692  19.396947  0.982864    131
25   11357  19.585987  0.312943   1256
26   10471  19.782669  0.480986    727
27   11379  19.797949  0.347586    975
28   11429  20.003876  0.548464    516
29   11430  20.081552  0.318153   1778
..     ...        ...       ...    ...
177  11368  23.812250  0.207386   5992
178  11214  23.845298  0.266214   3594
179  10032  23.864363  0.355770   2315
180  11693  23.885033  0.732869    461
181  10029  23.888711  0.280613   3747
182  11218  23.897709  0.284825   3187
183  10013  24.006778  0.150634  11360
184  11370  24.096405  0.727775    612
185  11230  24.105355  0.337026   2297
186  10280  24.183575  1.293780    207
187  11419  24.214219  0.373623   2138
188  11372  24.237449  0.195225   7589
189  10002  24.444479  0.172204   9627
190  10026  24.482259  0.429807   1381
191  11226  24.507360  0.267088   4212
192  11373  24.527924  0.224890   5139
193  11691  24.817324  0.434599   1166
194  11355  24.887050  0.235754   4471
195  11428  25.323117  0.470710   1142
196  11362  25.483527  0.586618   1032
197  11220  25.948607  0.198616   7608
198  11411  25.977358  0.742044    530
199  10473  26.074495  0.721302    792
200  11354  26.570618  0.210513   8284
201  10069  27.155556  2.039745     45
202  11001  28.465517  2.086052     58
203  10111  28.840580  2.274588     69
204  11697  31.011628  1.703179     86
205  10270  32.937500  3.403609     32
206  10000  34.666667  6.869294     24

[207 rows x 4 columns]